@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url(reset.css);

:root {
  --clr-primary: #786eff;
  --clr-grey: #646f79;
  --clr-bg: #f6f8f9;
  --clr-white: #fff;
  --clr-black: #000;

  --background-image: url("../image/image1.png");
  --box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.64);
}

body {
  font-family: "Helvetica", serif;
}

section{
  max-width: 1440px;
  margin-top: 5rem;
  margin-inline: auto;
  background-color: var(--clr-bg);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem 5rem 0 5rem ;

}

.left{
  flex-basis: 50%;  
}

h1{
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

h2{
  font-size: 1rem;
  font-weight: bold
  margin-bottom: 1.5rem;
}

p{
  font-size: 1.75rem;
  color: var(--clr-grey);
  margin-bottom: 2rem;
}

.btn{
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
  border: 2px solid var(--clr-black);
  border-radius: 5px;
  cursor: pointer;;
}

.btn-primary{
  margin-right: 1rem;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border-color:var(--clr-primary) ;
}

