@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,600&display=swap");
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

@import url(reset.css);

:root {
  --clr-bg: #efefef;
  --clr-text-dark: #222222;
  --clr-text-light: #363636;
  --clr-btn: #909090;
  --clr-white: #fff;
}

body {
  font-family: "Raleway", sans-serif;
}

.section {
  background-color: var(--clr-bg);
  max-width: 1440px;
  margin: 2rem auto;
  height: 600px;
}

.content__wrapper {
  padding: 0 6rem;
}

/* Header */

header {
  padding: 2rem 2rem 0 2rem;
  position: relative;
}

header .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

header .nav a {
  text-decoration: none;
  color: var(--clr-text-dark);
}

header .nav a .menu__bars {
  margin-left: 0.5rem;
}

header .hero {
  position: relative;
  height: calc(100% - 4rem);
  display: flex;
  align-items: center;
}

header .content {
  width: 38%;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 2rem;
}

.section .content .title .dark {
  font-weight: bold;
  font-size: 2.8rem;
}

.section .content .title .light {
  font-weight: 100;
  font-size: 3rem;
  color: var(--clr-text-light);
}

.desc {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.delimiter {
  height: 4rem;
  width: 1px;
  background-color: var(--clr-text-dark);
}

.delimiter.delimiter__h {
  width: 4rem;
  height: 1px;
}

header img {
  width: 50%;
  position: absolute;
  bottom: 0px;
  right: 100px;
}

/* camera */

#camera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#camera img {
  width: 35%;
}

#camera .content {
  width: 53%;
  padding-right: 2rem;
}

#camera .title {
  margin-bottom: unset;
}

#camera .title__wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2em;
  margin-bottom: 2rem;
}

#camera ul{
    display:flex;
    gap:2rem;
}

#camera ul li .list_item_link{
    padding: 0.5rem;
    display: block;
    width: 2.5rem;
    text-align: center;
    background-color: var(--clr-btn);
    color: var(--clr-white);
}

#picture{
    overflow: hidden;
}

#picture img{
    object-fit: fill;
}

#bridge{
    display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Bridge */

#bridge img{
    max-width: 50%;
    max-width: 50%;
}

#bridge .content{
    width: 35.5%;
}

#galery .galery__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
    
}

#galery.content__wrapper{
    position:relative;
}

#galery img{
    width: 100%;
}

#galery img.over{
    position: absolute;
    bottom: 64px;
    width: 55%;
    margin: 0 auto;
}

